<md-dialog aria-label="Nowy kontakt" ng-cloak flex="40">
    <form name="createForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Wydarzenie</h2>
                <span flex></span>

            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-content class="md-no-momentum">
                <section layout="column" layout-margin="">
                    <md-input-container
                            md-is-error="createForm.name.$invalid && (createForm.$submitted || createForm.name.$dirty)"
                            class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <label>Nazwa</label>

                        <input
                                ng-model="event.title"
                                name="name"
                                id="name"
                                required>
                        <div ng-messages="createForm.name.$error" ng-if="createForm.name.$touched">
                            <div ng-message="required">Wpisz nazwę</div>
                        </div>

                    </md-input-container>


                    <div layout="row" class="date-row">
                        <md-datepicker ng-model="event.start" md-placeholder="Date"></md-datepicker>

                        <!--<md-input-container flex md-no-float>-->
                            <!--<input ng-model="vm.calendarEvent.startTime" placeholder="Start Time">-->
                        <!--</md-input-container>-->
                    </div>
                    <div layout="row" class="date-row">
                        <md-datepicker ng-model="event.end" md-placeholder="Date"></md-datepicker>

                        <!--<md-input-container flex md-no-float>-->
                        <!--<input ng-model="vm.calendarEvent.startTime" placeholder="Start Time">-->
                        <!--</md-input-container>-->
                    </div>

                </section>
            </md-content>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancelDialog()" class="md-raised md-primary">Cofnij</md-button>
            <md-button ng-click="saveEvent()" ng-disabled="createForm.$invalid"  class="md-accent md-raised md-hue-1">Zapisz</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>