<md-dialog aria-label="Nowe wydarzenie" flex="40" ng-cloak>
    <form name="createForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'EVENT' | translate}}</h2>
                <span flex></span>

            </div>
        </md-toolbar>

        <md-dialog-content>
            <section layout-margin>
                <br>
                <md-input-container
                        class="md-icon-float md-block"
                        md-is-error="createForm.name.$invalid && (createForm.$submitted || createForm.name.$dirty)">
                    <!-- Use floating label instead of placeholder -->
                    <label>{{'NAME' | translate}}</label>

                    <input
                            id="name"
                            name="name"
                            ng-model="calendarEvent.title"
                            required>
                    <div ng-if="createForm.name.$touched" ng-messages="createForm.name.$error">
                        <div ng-message="required">Wpisz nazwę</div>
                    </div>

                </md-input-container>
                <md-datepicker md-placeholder="{{'FROM' | translate}}" ng-model="calendarEvent.start"></md-datepicker>

                <md-datepicker md-placeholder="{{'TO' | translate}}" ng-model="calendarEvent.end"></md-datepicker>
                <br>
                <md-input-container class="md-block" flex>
                    <label>{{'WHERE' | translate}}</label>
                    <input ng-model="calendarEvent.location">
                </md-input-container>

            </section>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="cancelDialog()">{{'BACK' | translate}}</md-button>
            <md-button class="md-raised md-warn" ng-click="saveEvent()" ng-disabled="createForm.$invalid">{{'SEND' |
                translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>