
<md-sidenav class="md-sidenav-left md-whiteframe-z2 md-primary" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
<!--    <md-toolbar class="md-table-toolbar  md-raised" layout-align="end end">
        <div class="md-toolbar-tools">

            <img ng-src="{{avatar}}" class="md-avatar"/>

            {{user.email}}
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Profile" ng-click="goToProfile()">
                <md-tooltip>Profil</md-tooltip>
                <ng-md-icon icon="more_vert" style="fill: white"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>-->

    <md-toolbar class="md-toolbar-tools-bottom inset" layout-align="center start">
        <span flex></span>
        <div layout="row" >
            <img ng-src="{{avatar}}" style="height:90pt; margin-left:40pt;padding-top:5px;">
            <span flex></span>
        </div>
        <div class="md-toolbar-tools" layout layout-padding>

            <div layout="column">
                <span class="md-body-2">{{user.username}}</span>
                <span class="md-caption">{{user.email}}</span>
            </div>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="User Settings" ng-click="toast('Logout')">
                <ng-md-icon icon="more_vert" style="fill: white" ng-click="goToProfile()"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content role="navigation">
        <md-list ng-repeat="section in sidenavMenu.sections">

            <md-list-item ng-click="goUsers()">
                <md-icon md-svg-src="assets/icons/people.svg" class="email"></md-icon>
                <span class="md-body-1">Użytkownicy</span>
                <span flex></span>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item ng-click="goToContact()">
                <md-icon md-svg-src="assets/icons/contacts.svg" class="email"></md-icon>
                <span class="md-body-1">Kontakty</span>
                <span flex></span>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item ng-click="goToInbox()">
                <md-icon md-svg-src="assets/icons/ic_question_answer_black_24px.svg" class="email"></md-icon>
                <span class="md-body-1">Wiadomości</span>
                <span flex></span>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item ng-click="goToChat()">
                <md-icon md-svg-src="assets/icons/ic_comment_black_24px.svg" class="email"></md-icon>
                <span class="md-body-1">Czat</span>
                <span flex></span>
            </md-list-item>
            <md-divider></md-divider>

           <!-- <md-list-item ng-click="section.expand = !section.expand">
                <md-icon md-svg-src="assets/icons/ic_comment_black_24px.svg" class="email"></md-icon>
                <span class="md-body-1">{{section.name}}</span>
                <span flex></span>
            </md-list-item>

            <md-list-item ng-show="section.expand" ng-repeat="group in groups" ng-click="toast(action.link)">
                <md-icon md-svg-src="assets/icons/ic_arrow_forward_black_24px.svg" class="email"></md-icon>
                <span class="md-body-1" layout-align="center center">{{group.name}}</span>
                <span flex></span>
            </md-list-item>
            <md-divider></md-divider>-->

            <md-list-item ng-click="showAddGroup($event)">
                <md-icon md-svg-src="assets/icons/ic_group_add_black_24px.svg" class="email"></md-icon>
                <span class="md-body-1" layout-align="center center">Dodaj grupę</span>
                <span flex></span>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item ng-click="goToCalendar()">
                <md-icon md-svg-src="assets/icons/ic_today_black_24px.svg" class="email"></md-icon>
                <span class="md-body-1" layout-align="center center">Kalendarz</span>
                <span flex></span>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item ng-click="bottomSettings()">
                <md-icon md-svg-src="assets/icons/ic_settings_black_24px.svg" class="email"></md-icon>
                <span class="md-body-1">Ustawienia</span>
                <span flex></span>
            </md-list-item>
            <md-divider></md-divider>

    </md-content>
</md-sidenav>

<div layout="column" flex>
    <md-toolbar class="md-primary md-whiteframe-z2">
        <div class="md-toolbar-tools" data-ng-show="showMobileMainHeader">
            <md-button class="md-icon-button" aria-label="Icon">
                <md-tooltip>AddressBook</md-tooltip>
                <ng-md-icon ui-sref="home.contacts" icon="dashboard" style="fill: white"></ng-md-icon>
            </md-button>
            <h2 >
                <span>Księga Adresowa</span>
            </h2>
            <span flex></span>
            <!--<ng-md-icon icon="person" style="fill: white"></ng-md-icon>-->
            <!--<span>{{user.name}}</span>-->
            <ng-md-icon ui-sref="home.chat" icon="chat" style="fill: white"></ng-md-icon>

            <md-button type="button" ng-click="logout()" class="md-icon-button logout">
                <md-tooltip>Log out</md-tooltip>
                <ng-md-icon icon="logout" style="fill: white"></ng-md-icon>
            </md-button>

        </div>
    </md-toolbar>

    <md-content flex class="md-padding page-content">
        <div ui-view></div>
    </md-content>
</div>
