<md-dialog aria-label="Utwórz grupę" flex="40" ng-cloak>
    <form name="createForm">
        <md-toolbar class="md-hue-1 md-whiteframe-z2" style="background:#f6f6f6;">
            <div class="md-toolbar-tools">
                <h2>{{'NEW' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancelAddModal()">
                    <ng-md-icon icon="close" style="fill: black"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-content class="md-no-momentum">
                <section layout="column" layout-margin="">
                    <br>
                    <md-input-container
                            class="md-icon-float md-block"
                            md-is-error="createForm.name.$invalid && (createForm.$submitted || createForm.name.$dirty)">
                        <!-- Use floating label instead of placeholder -->
                        <label>{{'NAME' | translate}}</label>
                        <md-icon class="name" md-svg-src="assets/icons/ic_person.svg"></md-icon>
                        <input
                                id="name"
                                name="name"
                                ng-model="group.name"
                                required>
                        <div ng-if="createForm.name.$touched" ng-messages="createForm.name.$error">
                            <div ng-message="required">Wpisz nazwę</div>
                        </div>
                    </md-input-container>
                </section>
            </md-content>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary" class="md-raised md-warn" ng-click="saveGroup()"
                       ng-disabled="createForm.$invalid">{{'SEND' | translate}}
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>