
<div layout="row">
    <div flex="10">
    </div>
    <div class="md-whiteframe-z2" flex="70">
        <md-whiteframe>
            <md-toolbar class="md-hue-1 md-whiteframe-z2" ng-show="!options.showSearch">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Contacts">
                        <ng-md-icon icon="group" style="fill: black"></ng-md-icon>
                    </md-button>
                    <h2 class="md-toolbar-tools" layout="row" layout-align="space-between">
                        <span layout="row" layout-align="center center">{{'GROUPS' | translate}}</span>

                    </h2>
                    <span flex></span>
                    <md-button ng-click="options.showSearch = !options.showSearch"
                               class="md-icon-button md-primary md-button md-ink-ripple">
                        <md-tooltip>Find</md-tooltip>
                        <ng-md-icon icon="search"></ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-hue-1 md-whiteframe-z2" ng-show="options.showSearch" style="background:white">
                <div class="md-toolbar-tools">
                    <md-button ng-click="options.showSearch = !options.showSearch" aria-label="Back"
                               class="md-icon-button md-primary md-button md-ink-ripple">
                        <ng-md-icon icon="arrow_back" ng-click="resetFilter()"></ng-md-icon>
                    </md-button>
                    <md-input-container style="width: 300px; margin-top: 40px; margin-right: 5px;" md-theme="input" flex>
                        <label>&nbsp;</label>
                        <input ng-model="searchInput" class="md-body-1" placeholder="{{'FIND' | translate}}">
                    </md-input-container>
                    <md-button aria-label="Search" ng-click="options.showSearch = !options.showSearch"
                               class="md-icon-button md-primary md-button md-ink-ripple">
                        <ng-md-icon icon="search"></ng-md-icon>
                    </md-button>
                </div>

            </md-toolbar>

            <md-divider></md-divider>

            <md-content>
                <md-table-container>
                    <table md-table id="table">
                        <thead md-head md-order="$root.tableFilter.order"
                               md-on-reorder="groups">
                        <tr md-row>
                            <th md-column></th>
                            <th md-column md-order-by="name">{{'NAME' | translate}}</th>
                            <th md-column></th>
                        </tr>
                        </thead>

                        <tbody md-body>
                        <tr md-row
                            ng-repeat="group in groups
                                    | filter: filters
                            		| orderBy: $root.tableFilter.order
                            		| filter:  searchInput"
                            ng-click="clicked(group, $event)">
                            <td md-cell><ng-letter-avatar fontsize="15" avatarcustombgcolor="#D84315" height="30" width="30"  data={{group.name}} shape="round"></ng-letter-avatar></td>
                            <td md-cell>{{group.name}}</td>
                            <td md-cell>
                                <md-menu>
                                    <md-button class="md-icon-button"  ng-click="$mdOpenMenu()">
                                        <ng-md-icon icon="more_vert"></ng-md-icon>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item>
                                            <md-button ng-click="showEditGroup(group, $event)">{{'UPDATE' | translate}}</md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="deleteGroup(group.id)">{{'DELETE' | translate}}</md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </md-table-container>
                <!--<md-table-pagination md-limit-options="[10, 20, 30, 40, 50]"
                                     md-limit="$root.tableFilter.limit" md-page="$root.tableFilter.page"
                                     md-total="{{users.length}}" md-on-paginate="onPageChange"
                                     md-boundary-links>
                </md-table-pagination>-->
            </md-content>
            <md-button class="md-fab md-fab-bottom-right"
                       ng-click="showAddGroup($event)">
                <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
            </md-button>
        </md-whiteframe>

    </div>
    <div flex="10">
    </div>
</div>

