<!--<nav class="navbar navbar-default">-->
	<!--<div class="container-fluid">-->
		<!--<div class="navbar-header">-->
			<!--<a class="navbar-brand">AddressBook</a>-->
		<!--</div>-->
		<!--<ul class="nav navbar-nav no-content navbar-right">-->
			<!--<li><a> Witaj !</a></li>-->
		<!--</ul>-->
	<!--</div>-->
<!--</nav>-->
<div layout="row" layout-padding layout-wrap>

<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Icon">
			<md-tooltip>AddressBook</md-tooltip>
			<ng-md-icon icon="dashboard" style="fill: white"></ng-md-icon>
		</md-button>
		<h2>Księga Adresowa</h2>
	</div>
</md-toolbar>
</div>