<!--<nav class="navbar navbar-default">-->
<!--<div class="container-fluid">-->
<!--<div class="navbar-header">-->
<!--<a class="navbar-brand">Addressbook</a>-->
<!--</div>-->
<!--<ul class="nav navbar-nav">-->
<!--<li><a data-ng-active-tab data-ng-href="#/contacts">Kontakty</a></li>-->
<!--<li><a data-ng-active-tab data-ng-href="#/groups">Grupy</a></li>-->
<!--<li><a data-ng-active-tab data-ng-href="#/chat">Chat </a></li>-->
<!--</ul>-->
<!--<ul class="nav navbar-nav no-con    tent navbar-right">-->
<!--<li uib-dropdown><a uib-dropdown-toggle id="profile-dropdown">-->
<!--{{user.name}} <span class="caret"></span>-->
<!--</a>-->
<!--<ul class="dropdown-menu" uib-dropdown-menu-->
<!--aria-labelledby="profile-dropdown">-->
<!--<li><a href> Profile </a></li>-->
<!--<li><a href data-ng-click="logout()"> Logout </a></li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->
<div layout="row">

<md-toolbar class="mobile">
    <div class="md-toolbar-tools" data-ng-show="showMobileMainHeader">
        <md-button class="md-icon-button" aria-label="Icon">
            <md-tooltip>AddressBook</md-tooltip>
            <ng-md-icon ui-sref="contact" icon="dashboard" style="fill: white"></ng-md-icon>
        </md-button>
        <h2 >
            <span>Księga Adresowa</span>
        </h2>
        <span flex></span>
        <!--<ng-md-icon icon="person" style="fill: white"></ng-md-icon>-->
        <!--<span>{{user.name}}</span>-->
        <ng-md-icon ui-sref="chat" icon="chat" style="fill: white"></ng-md-icon>

        <md-button type="button" ng-click="logout()" class="md-icon-button logout">
            <md-tooltip>Log out</md-tooltip>
            <ng-md-icon icon="logout" style="fill: white"></ng-md-icon>
        </md-button>

    </div>
</md-toolbar>
</div>
