<md-dialog aria-label="Form" ng-cloak flex="40">
    <md-content class="md-padding">
        <form name="userForm">
            <div layout-sm="column">
                <!--<md-chips ng-model="email.userTo" md-autocomplete-snap md-require-match>'+
                    <md-autocomplete
                            md-autofocus="true"
                            md-no-cache="true"
                            md-min-length="0"
                            md-selected-item="selected"
                            md-search-text="searchText"
                            md-items="userTo in users"
                            placeholder="To...">
                    <md-item-template>{{userTo.username}}</md-item-template>
                    </md-autocomplete>
                    <md-chip-template><span><em>{{$chip.username}}</em></span></md-chip-template>
                </md-chips>-->
                <md-input-container flex>
                    <label>Do</label>
                    <input ng-model="email.userTo">
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Temat</label>
                    <input ng-model="email.subject">
                </md-input-container>
            </div>

            <md-input-container class="md-block">
                <label>Wiadomość</label>
                <textarea ng-model="email.body" md-maxlength="150" rows="3" md-select-on-focus></textarea>
            </md-input-container>

        </form>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancelAddModal()"> Wstecz </md-button>
        <md-button ng-click="createNews()" class="md-primary"> Zapisz </md-button>
    </div>
</md-dialog>