<md-toolbar layout="column" class="md-hue-1 md-whiteframe-z2" role="toolbar" style="background:#f6f6f6;" flex>
    <div class="md-toolbar-tools">
        <span>Wiadomości</span>
    </div>
</md-toolbar>

<div layout="row" flex>

    <md-button class="md-fab md-fab-top-right" aria-label="Nowy message" ng-click="showCreateNews($event)">
        <ng-md-icon icon="mode_edit" style="fill: white"></ng-md-icon>
    </md-button>

    <div flex="50" layout-margin>

        <md-content class="page-content">
<!--
            <md-subheader class="md-primary"><b>Wysłane wiadomości</b></md-subheader>
-->
            <md-list>
                <md-list-item class="md-2-line"  ng-repeat="email in emails | filter:search" role="link"
                              ng-click="selectItem(email)" ng-class="{'selected' : email === selected }">

                        <md-icon md-svg-src="assets/icons/ic_email_black_24px.svg" class="email"></md-icon>
                        <p class="md-body-2"><b>{{email.userTo}}</b></p>
                        <p class="md-body-2" style="margin-left: 20px;">{{email.subject}}</p>
                        <!--<p class="md-body-2">{{email.date}}</p>-->
                        <span flex></span>
                        <md-icon class="md-secondary" md-svg-src="assets/icons/ic_done_black_24px.svg"
                                 ng-click="null"></md-icon>

                    <md-divider></md-divider>
                </md-list-item>
            </md-list>

        </md-content>
    </div>

    <div flex=50" layout-margin>
        <div layout="center center"><p class="md-body-2">Wybierz wiadomość</p></div>
      <!--  <md-content class="md-whiteframe-z4" ng-show="showReadEmail">

            <md-toolbar layout="column" class="md-hue-1" role="toolbar" style="background:#f6f6f6;" flex>
                <span class="md-title">{{selected.userTo}}</span>
                <span class="md-subhead">do</span>
            </md-toolbar>
            <md-divider></md-divider>
            <md-content>
                <h2>{{selected.subject}}</h2>
                <p>{{selected.body}}</p>
            </md-content>
        </md-content>-->
        <div ng-show="showReadEmail" class="details" layout="row" layout-align="start start">
            <div layout="column">
                <span class="title">From:</span>
                <span class="title">To:</span>
                <span class="title">Date:</span>
            </div>

            <div layout="column">
                <span class="detail">{{selected.userFrom.username}}</span>
                <span class="detail">{{selected.userTo}}</span>
                <span class="detail">{{selected.date}}</span>
            </div>
        </div>
    </div>

</div>


