
<!--  -->
<div layout="column" layout-align="center center" layout-fill>
	<div class="loginContent md-whiteframe-z1" layout="column">

		<md-toolbar class="md-toolbar-tools">
			<span layout="row" layout-align="center center">Logowanie</span>
		</md-toolbar>


		<md-content class="md-padding" layout="column">
			<form name="loginForm" ng-submit="loginUser()" novalidate>
			<md-input-container md-is-error="loginForm.username.$invalid && (loginForm.$submitted || loginForm.username.$dirty)">
				<label>Username</label>
				<md-icon md-svg-src="assets/icons/ic_email_black_24px.svg"></md-icon>
				<input 
					name="username" 
					id="username" 
					ng-model="user.username" 
					ng-minlength="3"
           			ng-maxlength="10" 
					required>
				<div ng-messages="loginForm.username.$error" ng-if="loginForm.username.$touched">
          			<div ng-message="required">Wpisz imię</div>
          			<div ng-message="minlength">Zbyt ktrótkie, 3 znaki minimalnie</div>
        		</div>
			</md-input-container>
			
			<md-input-container md-is-error="loginForm.password.$invalid && (loginForm.$submitted || loginForm.password.$dirty)">
				<label>Password</label>
				<md-icon md-svg-src="assets/icons/ic_lock.svg" style="color: #00F;"></md-icon>
				<input flex
					ng-model="user.password"
					id="password"
				 	name="password" 
				 	type="password" 
				 	ng-minlength="6"
           			ng-maxlength="10" 
				 	required>
				<div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
          			<div ng-message="required">Wpisz poprawne hasło</div>
          			<div ng-message="minlength">Zbyt ktrótkie, 6 znaków minimalnie</div>
        		</div>
			</md-input-container>
			<div layout="row" layout-align="center center">
				<md-button type="submit"ui-sref="register" class="md-primary">
					Rejestracja
				</md-button>
				<md-button type="submit" ng-disabled="loginForm.$invalid" class="md-raised md-primary">
					LOGIN
				</md-button>
			</div>
			</form>
		</md-content>

	</div>
</div>