
<div layout="row" layout-margin>
<div flex="20" layout="column" >

        <md-whiteframe class="md-whiteframe-4dp" flex>
            <md-toolbar class="md-table-toolbar menu-toolbar">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="">
                        <ng-md-icon icon="person" style="fill: white"></ng-md-icon>
                    </md-button>
                    <span>{{user.username}} {{user.name}}</span>
                </div>
            </md-toolbar>
            <md-content layout-align="center center">
                <md-list ng-repeat="group in groups">
                    <md-list-item>{{group.name}}</md-list-item>
                </md-list>
            </md-content>
        </md-whiteframe>


</div>
<div flex layout="column"  layout-margin>
        <md-whiteframe class="md-whiteframe-4dp" flex>
            <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools" data-ng-show="showMobileMainHeader">
                    <md-button class="md-icon-button" aria-label="Icon">
                        <md-tooltip>Icon</md-tooltip>
                        <ng-md-icon icon="my_library_books" style="fill: gray"></ng-md-icon>
                    </md-button>
                    <span>Kontakty</span>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Search" data-ng-click="clickAdd($event)">
                        <md-tooltip>Add Contact</md-tooltip>
                        <ng-md-icon icon="add" style="fill: gray"></ng-md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Search" data-ng-click="showMobileMainHeader = false">
                        <md-tooltip>Find</md-tooltip>
                        <ng-md-icon icon="more_vert" style="fill: gray"></ng-md-icon>
                    </md-button>

                </div>
                <div class="md-toolbar-tools" data-ng-hide="showMobileMainHeader">
                    <md-button class="md-icon-button" aria-label="Back" data-ng-click="showMobileMainHeader = true">
                        <md-tooltip>Back</md-tooltip>
                        <ng-md-icon icon="keyboard_backspace" style="fill: gray"></ng-md-icon>
                    </md-button>
                    <md-input-container md-no-float class="md-accent" style="padding-bottom:0px;">
                        <input ng-model="searchInput" placeholder="Search here" style="color:dimgray;">
                    </md-input-container>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Search">
                        <md-tooltip>Search</md-tooltip>
                        <ng-md-icon icon="search" style="fill: gray"></ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-divider></md-divider>
            <md-content>
                <md-table-container>
                    <table md-table id="table">
                        <thead md-head md-order="$root.tableFilter.order" md-on-reorder="contacts">
                        <tr md-row>
                            <th md-column md-order-by="name">Imię</th>
                            <th md-column md-order-by="lastName">Nazwisko</th>
                            <th md-column md-numeric="email">Poczta</th>
                            <th md-column md-numeric="phone">Telefon</th>
                            <th md-column md-numeric="group">Grupa</th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row
                            ng-repeat="contact in contacts.content | orderBy: $root.tableFilter.order | filter:searchInput"
                            ng-click="clickEdit(contact, $event)">
                            <td md-cell>{{contact.name}}</td>
                            <td md-cell>{{contact.lastName}}</td>
                            <td md-cell>{{contact.email}}</td>
                            <td md-cell>{{contact.phone}}</td>
                            <td md-cell>{{contact.group}}</td>

                        </tr>
                        </tbody>
                    </table>
                    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page"
                                         md-total="{{desserts.count}}" md-on-paginate="getDesserts"
                                         md-page-select></md-table-pagination>

                </md-table-container>
            </md-content>
        </md-whiteframe>
</div>
</div>
