<md-dialog aria-label="Dane kontaktowe"  ng-cloak flex="70">
    <form name="editForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                
                <h2>Dane kontaktowe</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="removeContact(contact.id)">
                    <ng-md-icon icon="delete" style="fill: pink"></ng-md-icon>
                </md-button>
               <!--  <md-button class="md-icon-button" ng-click="editContact(contact.id)">
                    <ng-md-icon icon="save" style="fill: white"></ng-md-icon>
                </md-button> -->
            </div>
            <span flex></span>

        </md-toolbar>

        <md-dialog-content>
            <md-content layout-padding>
                <div>
                    <form>
                        <div layout-gt-sm="row">
                            <md-input-container md-is-error="editForm.name.$invalid && (editForm.$submitted || editForm.name.$dirty)" class="md-block" flex-gt-sm>
                                <label>Imię</label>
                                <input 
                                	name="name"
                                	id="name"  
                                	ng-model="contact.name"
                                	required>
                                <div ng-messages="editForm.name.$error" ng-if="editForm.name.$touched">
          							<div ng-message="required">Wpisz imię</div>
        						</div>	
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Nazwisko</label>
                                <input type="text" name="lastName" ng-model="contact.lastName">
                            </md-input-container>
                            
                        </div>
                        <div layout-gt-sm="row">
                        	<md-input-container md-is-error="editForm.email.$invalid && (editForm.$submitted || editForm.email.$dirty)" class="md-block" flex-gt-sm>
                            	<label>Email</label>
                            	<input 
                            		type="email" 
                            		id="email" 
                            		name="email" 
                            		ng-model="contact.email"
                            		required>
                            	<div ng-messages="editForm.email.$error" ng-if="editForm.email.$touched">
          							<div ng-message="required">Wpisz email</div>
        						</div>
                        	</md-input-container>
                        	<md-input-container class="md-block" flex-gt-sm>
                        		<label>Address</label>
                            	<input type="text" name="address" ng-model="contact.address" >
                        	</md-input-container>	
                        </div>
                        
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Telefon</label>
                                <input type="text" name="phone" ng-model="contact.phone">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Grupa</label>
                                <md-select ng-model="contact.group">
                                    <md-option ng-repeat="group in groups" value="{{group.name}}">
                                        {{group.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </form>
                </div>
            </md-content>
        </md-dialog-content>
         <md-dialog-actions layout="row">
            <span flex></span>
			<md-button class="md-raised md-primary" ng-click="cancelEditModal()">
                    <ng-md-icon icon="keyboard_backspace" style="fill: white"></ng-md-icon>
            </md-button>
            <md-button type="submit"  ng-disabled="editForm.$invalid" ng-click="editContact(contact.id)" class="md-raised md-warn">Edytuj</md-button>

        </md-dialog-actions>
    </form>
</md-dialog>